<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Добро пожаловать{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {#<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />


    <script src="{{ asset('js/jquery.min.js') }}" ></script>
    <script src="{{ asset('js/tether.min.js') }}" ></script>
    <script src=" {{ asset('js/bootstrap.min.js') }}"></script>
    <script src=" {{ asset('js/select2.min.js') }}"></script>



    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->

    <script src=" {{ asset('node_modules/core-js/client/shim.min.js') }}"></script>
    <script src=" {{ asset('node_modules/zone.js/dist/zone.js') }}"></script>
    <script src=" {{ asset('node_modules/reflect-metadata/Reflect.js') }}"></script>
    <script src=" {{ asset('node_modules/systemjs/dist/system.src.js') }}"></script>

    <!-- 2. Configure SystemJS -->
    <script src=" {{ asset('systemjs.config.js') }}"></script>

    {% block javascripts %}{% endblock %}



</head>