<div class="container-fluid bg-dark m-b-1">
    <div class="row">
        <div class="container">
            <div class="row">

                <ul class="list-unstyled list-inline p-t-1 white">
                    <li class="list-inline-item p-l-1"><a href="{{ path('statistic_homepage') }}">Главная</a></li>
                    <li class="list-inline-item"><a href="{{ path('order_index') }}">Заказы</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('client_index') }}">Клиенты</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('product_index') }}">Продукты</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('category_index') }}">Категории</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('producer_index') }}">Производители</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('user_index') }}">Пользователи</a></li>
                    <li class="list-inline-item p-l-1"><a href="{{ path('admin_homepage') }}">Администрирование</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>